/*Cropper Image*/
.image-box {
    width: 15%;
    min-width: 100px;
    max-width: 115px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.image-box .image-del {
    font-size: 8pt;
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 3px 8px;
    margin: 0;
}

.cropper_image img {
    min-width: 100px;
    max-width: 115px;
    height: auto;
}

.image-box > .image-del {
    cursor: pointer;
}

.btn-image-modal {
    cursor: pointer;
}

/* Zin Code */
.vZipCode {

}

.vCounty {

}

.vDistrict {

}